h1{text-align:center;font-size: 50px}
.one,.two{width:45% }
#kk{display: inline-block;}
label{font-size: 40px;margin: 5px}
input{width: 280px;height: 50px;margin: 5px}
.right{float: right;margin-right: 50px}
.left{margin-left: 50px}
.in{margin-left: 50px}
#line{height:800px;width: 2px;background-color: silver;position: absolute;left: 800px;bottom: 100px}

.lif
{margin-left: -60px}
.lab{margin-left: -110px;}
.sub{width: 300px;height: 50px;background-color: blue;font-weight: bold;outline: 5px solid red;color: white;margin-left: 600px;text-align: center;font-size: 40px}



