body{background-color: #6ab8d5;position: relative;}


.cont{width:300px;
border: 2px solid blue;
height: 700px;
color:white;
background-color: white;
border-radius:20px;
margin-left: 600px;
margin-top: 40px;
position: relative;
}
.s1{background-color: #007577;

	height: 200px;
padding-top:5px;
border-radius: 15px 15px 0px 0px;
}
.s1 img{
width: 100%;
height: 200px;

padding-top: 10px;
}
h1{text-align: center;

font-family: fantasy;}
label{color:blue;}
form{margin-top: 80px}
input{margin-left: 20px}
input{margin-top: 10px}
.one{margin-left: 40px}
.i{color: red}
.two i{color: red;font-size: 40px;margin-left: 15px}
.sign{width: 250px;background-color: blue;color: white;font-weight: bold;height: 50px;font-size: 30px}
.login{width: 250px;background-color: #7519d1;color: white;font-weight: bold;height: 50px;font-size: 30px}