body{margin: 0px;padding: 0px}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

body{background-color: #d0cbd2}
li {
  float: right;
}



li  {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  margin: 20px;
  text-decoration: none;

}
.div{display:inline-block;margin-left: 80px}
form i{color:red;position: absolute;}
#one{margin-left: 280px;margin-top: 5px}
#two{margin-left: 460px;margin-top: 5px}
.cont{background-image: url(https://png.pngtree.com/back_origin_pic/03/99/90/d410800f7d7d328ffaf95e5b49fada7d.jpg);background-repeat: no-repeat;height: 400px}

.one {
color: orange;
}
.two{background-color: orange;color: white;}
